<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>EMAIL RECEIPT</h1>
    <p>
      thanks for buying!.<br>
    </p>
    <p>
      Thanks for your order!
    </p>
  </body>
</html>